.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
ansible/env/real/
apps/*/crates/*/target
apps/q_vvx/priv/bin
aws/terraform/lambda/*.zip
