{erl_opts, [debug_info, {parse_transform, qrpc_map_calls}]}.
{deps, [
    {klsn, {git, "https://github.com/ts-klassen/klsn.git", {tag, "1.20.0"}}}
  , {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.14.2"}}}
  , {erlcloud, {git, "https://github.com/erlcloud/erlcloud.git", {tag, "3.8.3"}}}
  , {amqp_client, "4.2.1"}
]}.

{relx, [{release, {qrpc, "0.2.1"},
         [ qrpc
         , q_tut
         , q_vvx
         , sasl
         ]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{post_hooks, [
    {compile, "scripts/build_q_vvx_worker.sh"}
]}.

{profiles, [
    %% prod is the default mode when prod
    %% profile is used, so does not have
    %% to be explicitly included like this
    {prod, [
        {relx, [
            {mode, prod}
          , {sys_config, "./config/strict_sys.config"}

            %% use minimal mode to exclude ERTS
            %% {mode, minimal}
        ]}
    ]}
]}.

{cover_enabled, true}.
