[Unit]
Description=qrpc
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=qrpc
Group=qrpc
WorkingDirectory=/opt/qrpc/home/qrpc
ExecStart=/opt/qrpc/qrpc_foreground.sh
Restart=always
RestartSec=10
StandardError=journal
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=true

[Install]
WantedBy=multi-user.target
