# Managed by Ansible. Contains credentials/environment for qrpc duplicity backups.
{% if qrpc_backup_aws_access_key_id | length > 0 %}
AWS_ACCESS_KEY_ID={{ qrpc_backup_aws_access_key_id | to_json }}
{% endif %}
{% if qrpc_backup_aws_secret_access_key | length > 0 %}
AWS_SECRET_ACCESS_KEY={{ qrpc_backup_aws_secret_access_key | to_json }}
{% endif %}
{% if qrpc_backup_aws_region | length > 0 %}
AWS_DEFAULT_REGION={{ qrpc_backup_aws_region | to_json }}
{% endif %}
{% if qrpc_backup_gpg_passphrase | length > 0 %}
PASSPHRASE={{ qrpc_backup_gpg_passphrase | to_json }}
{% endif %}
{% for item in qrpc_backup_env_extras | dict2items | sort(attribute='key') %}
{{ item.key }}={{ item.value | to_json }}
{% endfor %}
