% This is for dev, not for prod.
% Make sure to also edit strict_sys.config and qrpc_conf.erl.
[{qrpc, [
  % This is for dev. Non strict config are allowed.
    {is_strict, false}
  , {server_name, <<"qrpc-dev">>}

  , {listen_ip, {127,0,0,1}}
  , {listen_port, 9080}

  , {rpc_uri, <<"/qrpc">>}
  , {static_uri, <<"/qrpc/:subsystem/static/[...]">>}
  , {static_uri_subsystem, [qrpc, q_tut]}

  , {allowed_rpc_mfa, #{
        {q_tut, hello_world, 1} => #{
            role => public
        }
      , {q_tut, hello_error, 1} => #{
            role => public
        }
      , {q_tut, hello_admin, 1} => #{
            role => admin
        }
      , {q_tut, hello_config, 1} => #{
            role => public
        }
      , {q_vvx_engine, super_simple_tts, 1} => #{
            role => public
        }
    }}

  % jwt secret. Generate it like: `crypto:strong_rand_bytes(256)`
  % {jwt_hs256_secret, binary()}

  , {tier, #{
        default => #{
            secondly => 3
          , minutely => 20
          , hourly => 100
          , daily => 2000
        }
    }}

  , {roles, [admin, public]}

  , {subsystem, #{
        qrpc => #{} % Basicly, qrpc should use top level config.
        % This q_tut is the subsystem name. (app name)
      , q_tut => #{
            % This q_tut is the module name.
            q_tut => #{
                hello_config => <<"hello config">>
            }
        }
      , q_vvx => #{
            q_vvx_engine => [
                {voicevox_http_engine, <<"http://127.0.0.1:50021">>}
            ]
        }
    }}
]}].
