% This is for dev, not for prod.
% Make sure to also edit strict_sys.config and qrpc_conf.erl.
[{qrpc, [
  % This is for dev. Non strict config are allowed.
    {is_strict, false}
  , {server_name, <<"qrpc-dev">>}

  , {listen_ip, {127,0,0,1}}
  , {listen_port, 9080}

  , {rpc_uri, <<"/qrpc">>}
  , {static_uri, <<"/qrpc/:subsystem/static/[...]">>}
  , {static_uri_subsystem, [qrpc, q_tut, q_vvx]}

  , {allowed_rpc_mfa, #{
        {q_tut, hello_world, 1} => #{
            role => public
        }
      , {q_tut, hello_error, 1} => #{
            role => public
        }
      , {q_tut, hello_admin, 1} => #{
            role => admin
        }
      , {q_tut, hello_config, 1} => #{
            role => public
        }
      , {q_tut, hello_blob, 1} => #{
            role => public
        }
      , {q_vvx_engine, super_simple_tts, 1} => #{
            role => public
        }
      , {q_vvx_core, super_simple_tts, 1} => #{
            role => public
        }
      , {qrpc_event, fetch, 1} => #{
            role => public
        }
    }}

  % jwt secret. Generate it like: `crypto:strong_rand_bytes(256)`
  % {jwt_hs256_secret, binary()}

  , {tier, #{
        default => #{
            secondly => 3
          , minutely => 20
          , hourly => 100
          , daily => 2000
        }
    }}

  , {roles, [admin, public]}

  , {rabbitmq, #{
        host => <<"localhost">>
      , port => 5672
      , username => <<"guest">>
      , password => <<"guest">>
      , vhost => <<"/">>
    }}

  , {clog_dir, "/opt/qrpc/var/log/qrpc"}
  , {dlog_config, #{
        qrpc_error => [
            {type, wrap}
          % {size, {MaxNoBytes, MaxNoFiles}}
          , {size, {1073741824, 10}}
        ]
    }}
  , {dlog_dir, "/opt/qrpc/var/log/dlog"}
  , {kvs_dets_path, "/opt/qrpc/var/dets/qrpc_kvs"}

  % {{s3_profile, q_vvx_wav}, #{
  %     default => #{
  %         access_key => #{
  %             access_key_id => <<>>
  %           , secret_access_key => <<>>
  %         }
  %       , config => #{
  %             s3_scheme => <<"https://">>
  %           , s3_host => <<"s3express-apne1-az4.ap-northeast-1.amazonaws.com">>
  %           , s3_port => 443
  %           , s3_follow_redirect => false
  %           , s3_follow_redirect_count => 2
  %           , s3_bucket_access_method => vhost % vhost | path | auto
  %           , s3_bucket_after_host => false
  %         }
  %       , bucket => <<>>
  %       , prefix => <<"/q_vvx_wav/">> % optional
  %       , suffix => <<".wav">> % optional
  %       , ttl => 86400
  %       , region => <<"ap-northeast-1">>
  %     }
  % }}

  , {subsystem, #{
        qrpc => #{} % Basicly, qrpc should use top level config.
        % This q_tut is the subsystem name. (app name)
      , q_tut => #{
            % This q_tut is the module name.
            q_tut => #{
                hello_config => <<"hello config">>
            }
        }
      , q_vvx => #{
            q_vvx_engine => #{
                workers => [
                    {voicevox_http_engine, <<"http://127.0.0.1:50021">>}
                ]
            }
          , q_vvx_worker_sup => #{
                worker_count => 2
            }
          , q_vvx_core => #{
                wav_s3_profiles => [q_vvx_wav]
              , speaker_list_path => <<"/opt/qrpc/etc/q_vvx_worker/speakers.json">>
            }
        }
    }}
]}].
